*
!.gitignore

# directories
!*/

# documents
!*.ad
!*.md
!*.tex
!*.txt
!*.bib
!*.inl

# source code
!*.cs
!*.cpp
!*.cu
!*.csproj
!*.h
!*.hpp
!Makefile
!CMakeLists.txt
!*.vert
!*.frag
!*.cuh
!*.geom
!*.comp
!*.sh
!*.sln
!*.yml
!Dockerfile
!*.ps1
!*.rchit
!*.rmiss
!*.rgen
!*.json
!*.props
!*.targets
!*.ts
!*.scss
!*.razor
!*.js

# static files
!**/wwwroot/**/*.html
!**/wwwroot/**/*.js
!**/wwwroot/**/*.css
!**/wwwroot/**/FONT-LICENSE
!**/wwwroot/**/ICON-LICENSE
!**/wwwroot/**/*.eot
!**/wwwroot/**/*.otf
!**/wwwroot/**/*.svg
!**/wwwroot/**/*.ttf
!**/wwwroot/**/*.woff

# misc
!.clang-format
!.editorconfig
!NuGet.config

# images
!*.png

# cmake
!*.cmake

# generated stuff
obj/
bin/
out/
build/
external/
embedded/
artifacts/
*.gv.png
node_modules/
.vs/
