@use "./variables.scss";

html,
body,
.sigma-container,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-family: 'Segoe UI', sans-serif;
    color: var(--font-color-base);
}

.wm-v {
    text-orientation: mixed;
    writing-mode: vertical-lr;
}
