@use "./variables.scss";

.icon {
    .light-lightblue,
    .light-lightblue-10,
    .light-blue,
    .light-blue-10 {
        fill: var(--color-primary-500);
    }

    *:disabled & {
        svg {
            *:not(.canvas){
                fill: var(--color-surface-400);
            }
        }
    }
    .light &, &.light {
        svg {
            path, g#outline path {
                fill: var(--icon-light);
            }
            
            path:not(.canvas):not(.icon-vs-out) {
                fill: var(--icon-dark);
            }
        }
    
    }
}
