@use "./variables.scss";

.toast-wrapper {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    justify-content: flex-end;
    align-items: flex-end;

    .toast {
        margin-right: 3rem;
        margin-bottom: 1rem;
        width: 30rem;
        background-color: var(--color-surface-50);
        display: flex;
        flex-direction: column;
        border: 1px solid var(--color-surface-100);
        pointer-events: all;

        .toast-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-surface-100);
            align-items: center;
            height: 2rem;

            .icon {
                margin-left: 0.5rem;
                padding: 0.25rem;
                height: 100%;
                aspect-ratio: 1/1;
            }

            .title {
                text-transform: uppercase;
                font-weight: lighter;
                font-size: 1rem;
                line-height: 1.5rem;
                flex-grow: 1;
            }
        }

        .toast-body {
            padding: 0.5rem 1rem;
        }
    }
}
