@use "uniform" as * with (
  $config: (
    excludes: (
        all
    ),
    includes: (
        reset,
        margin,
        padding,
        visibility,
        display,
        flex,
        flex-direction,
        font-weight,
        font-size,
        line-height,
        cursor,
        user-select
    )
  )
);
