@use "uniform" as * with (
  $config: (
    excludes: (
      all
    ),
    includes: (
      root,
      reset,
      margin,
      margin-top,
      margin-right,
      margin-bottom,
      margin-left,
      padding,
      padding-top,
      padding-right,
      padding-bottom,
      padding-left,
      width,
      height,
      visibility,
      display,
      flex,
      flex-direction,
      flex-wrap,
      flex-grow,
      font-weight,
      font-size,
      line-height,
      cursor,
      user-select,
      overflow,
      white-space,
      gap,
      justify-content,
      border-width,
      align-items,
      text-align,
      position,
      z-index
    )
  )
);
