.cheatsheet-button {
    pointer-events: all;
    opacity: 0.5;
    margin: 1rem;
    color: var(--color-primary-500);

    &:hover {
        opacity: 1;
    }
}

.cheatsheet {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000088;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: all;

    &>.cheatsheet-inner {
        width: 100%;
        max-width: 50rem;
        height: 100%;
        max-height: 40rem;

        background-color: var(--color-surface-50);

        .tab-content {
            flex-grow: 1;
        }

        .tab {
            width: 100%;
            padding: 0.5rem;
            border-top: none;

            > p {
                margin: 0.5rem 0;
            }

            dt {
                margin-top: 0.5rem;
            }
        }

        .tab-item span {
            line-height: 1;
        }

        .close-button {
            height: auto;
        }
    }

    .cheatsheet-header {
        display: flex;
        flex-direction: row;
        font-weight: 300;
        text-transform: uppercase;
        align-items: center;
        gap: 0.5rem;
        padding: 0 0.5rem;

        .icon {
            width: 1rem;
            height: 1rem;
        }
    }
}
