.context-menu {
    position: absolute;
    background-color: var(--color-surface-50);
    border: 1px solid var(--color-surface-100);
    pointer-events: all;

    ul {
        display: flex;
        flex-direction: column;

        li:hover {
            background-color: var(--color-surface-100);
        }

        li>button {
            display: flex;
            flex-direction: row;
            position: relative;
            padding: 0.25rem;

            .icon {
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                top: 0.25rem;
                left: 0.25rem;
            }

            span {
                padding-left: 2rem;
                text-wrap: nowrap;
            }
        }
    }
}
