.hint {
    display: inline;

    .icon {
        width: 1em;
        height: 1em;

        .light-lightblue,
        .light-lightblue-10,
        .light-blue,
        .light-blue-10 {
            fill: var(--color-primary-500);
        }

        &:hover {

            .light-lightblue,
            .light-lightblue-10,
            .light-blue,
            .light-blue-10 {
                fill: var(--color-primary-900);
            }
        }

        svg {
            color: var(--color-primary-500);

            &:hover {
                color: var(--color-primary-900);
            }
        }
    }
}
