@use "./variables.scss";

.toolbar {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
    z-index: 2;
    background-color: var(--color-surface-50);
    border: 1px solid var(--color-surface-100);
    pointer-events: all;

    button {
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
        padding: 0.25rem;

        &:not(:disabled) {
            cursor: pointer;
        }

        // &:not(:last-of-type) {
        //     border-bottom: 1px solid var(--color-surface-100);
        // }

        &:hover {
            background-color: var(--color-surface-100);
        }
    }

    input:checked+label {
        background-color: var(--color-surface-200);
    }
}
