@use "./base.scss";

html,
dt,
dd,
label,
button,
input,
textarea,
select,
td,
th,
span,
strong,
p,
ul,
li {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.5;
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: var(--color-text);
}

.monospace {
    font-family: var(--font-family-monospace);
}

a,
p a {
    color: var(--color-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

input,
button,
select,
textarea {
    &:focus {
        outline: 1px solid var(--color-primary-500);
        z-index: 1000;
    }
}

dl {
    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 1rem;
    }
}
