@use "sass:map";
@use "sass:list";

$colors: (
    text: #1E1E1E,
    text-inverted: #DBCECC,
    link: #924924,
    surface: ( //
        0: #FFFFFF, // L 100
        45: #F8F8F8, // L 97
        50: #F2EEEE, // L 94
        75: #E6DEDC, // L 88
        100: #DBCECC, // L 83
        150: #D1C2C2, // L 79
        200: #C5B9B7, // L 75
        300: #A5A4A2, // L 64
        400: #888888, // L 53
        500: #656565, // L 40
        600: #525252, // L 32
        700: #403E3E, // L 25
        800: #262525, // L 15
        900: #1C1B1B, // L 11
        1000: #000000, // L 0
    ),
    primary: ( //
        50: #f3dcdf,
        100: #eed0d5,
        200: #eac5ca,
        300: #dea2ab,
        400: #c55c6b,
        500: #ac162c,
        600: #9b1428,
        700: #811121,
        800: #670d1a,
        900: #540b16,
        1000: #3a070f,
    ),
    text-on-primary: #F2EEEE,
    text-on-primary-inverted: #262525,
    text-on-success: #F2EEEE,
    text-on-success-inverted: #262525,
    success: ( //
        50: #ddecdd,
        100: #d2e6d2,
        200: #c7dfc7,
        300: #a5cca5,
        400: #62a662,
        500: #1f801f,
        600: #1c731c,
        700: #176017,
        800: #134d13,
        900: #0f3f0f,
        1000: #061906,
    ),
    warning: ( //
        50:  #fbfaf5,
        100: #f9f0c6,
        200: #f2dc8e,
        300: #deb65a,
        400: #c58b32,
        500: #a76b1a,
        600: #895111,
        700: #683c0f,
        800: #47290c,
        900: #2e1909,
        1000: #342500,
    ),
    error: ( //
        50: #f6dadc,
        100: #f3ced1,
        200: #f1c2c5,
        300: #e89da2,
        400: #d6545d,
        500: #c50b17,
        600: #b10a15,
        700: #940811,
        800: #76070e,
        900: #61050b,
        1000: #4d0408,
    ),
    keyword: ( //
        50: #f7f9fb,
        100: #e3f0fd,
        200: #c5d8fb,
        300: #9eb4f5,
        400: #7d8cee,
        500: #6667e9,
        600: #544ade,
        700: #0000ff,
        800: #2c2693,
        900: #18185e,
    ),
    identifier: ( //
        50: #fcfbf7,
        100: #f9f0d7,
        200: #f3daac,
        300: #e1b377,
        400: #cd8649,
        500: #b3642a,
        600: #795e26,
        700: #713716,
        800: #4d2511,
        900: #30170c,
    ),
    type: ( //
        50: #f2f7f7,
        100: #d6f0f8,
        200: #a7e3ef,
        300: #70c7d8,
        400: #36a5ba,
        500: #267f99,
        600: #226e81,
        700: #1e5364,
        800: #163848,
        900: #0e2231,
    )
);

:root {
    --font-family-base: "Segoe UI", sans-serif;
    --font-family-heading: "Segoe UI", sans-serif;
    --font-family-monospace: "Cascadia Mono", "Consolas", monospace;

    --icon-dark: #424242;
    --icon-light: #F6F6F6;
}

.explorer {
    @each $key, $value in $colors {
        @if type-of($value)==map {
            @each $level, $hex in $value {
                --color-#{$key}-#{$level}: #{$hex};
            }
        }

        @else {
            --color-#{$key}: #{$value};
        }
    }

    .dark &,
    &.dark {
        --color-text: #{map.get($colors, "text-inverted")};
        --color-text-inverted: #{map.get($colors, "text")};
        --color-text-on-primary: #{map.get($colors, "text-on-primary-inverted")};
        --color-text-on-primary-inverted: #{map.get($colors, "text-on-primary")};
        --color-text-on-success: #{map.get($colors, "text-on-success-inverted")};
        --color-text-on-success-inverted: #{map.get($colors, "text-on-success")};

        @each $key, $value in $colors {
            @if type-of($value)==map {
                @for $i from 1 through length($value) {
                    $o: calc(length($value) - $i + 1);
                    $level: list.nth(list.nth($value, $o), 1);
                    $hex: list.nth(list.nth($value, $i), 2);

                    --color-#{$key}-#{$level}: #{$hex};
                }
            }
        }
    }
}
